<!DOCTYPE html>
<html>
<head>
<meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>

<p>Vielen Dank für Ihre online Anmeldung für das Caux Forum 2018.</p>

<p>Wir bestätigen hiermit Ihre Anmeldung erhalten zu haben und werden diese in
kürze bearbeiten. Diese E-Mail ist keine Bestätigung Ihrer Anmeldung. Das
Reservations Team wird sich binnen 7 Tagen nach erhalt der vollständigen
Anmeldung bei Ihnen melden.</p>

<p>Ihr Aufenthalt und Ihre Teilnahme ist erst mit erhalten des
<strong>Bestätigungsschreibens</strong> durch das Reservations Team
bestätigt.</p>

<p>Freundliche Grüsse,<br/>
Caux Forum Reservations Team</p>
</body>
</html>
