<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>

  <p>Merci pour votre inscription en ligne pour les rencontres internationales de Caux.</p>

  <p>Nous attestons réception de votre réservation. Veuillez noter que cet e-mail n'est pas une confirmation de votre inscription.</p>

  <p>L'équipe des réservations prendra contact avec vous dans les 7 jours après réception du formulaire d'inscription complété. En cas de questions de financement ou de visa spécifiques, l'équipe des réservations pourrait nécessiter plus de temps pour traiter tous les documents nécessaires. Votre séjour et votre participation ne seront confirmés que lorsque vous recevrez une lettre de confirmation de l'équipe des réservations.</p>

  <p>Meilleures salutations<br/>
  L'équipe des Réservations</p>
 </body>
</html>
