<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>

  <p>Thank you very much for your online registration for the International Caux Conferences.</p>

  <p>We herewith confirm to have received your reservation. Please note that this e-mail is <strong>not</strong> a confirmation of your registration.</p>

  <p>The Reservations Team will get in contact with you within 7 days of receiving the completed registration form. In case of special financial or visa issues, the Reservations Team might require more time to process all the necessary documents. Your stay and participation is only confirmed once you’ve received a <strong>Letter of Confirmation</strong> from the Reservations Team.</p>

  <p>With kind regards,<br/>The Reservations Team.</p>

 </body>
</html>
