<!DOCTYPE html>
<html>
<head>
<meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>

<p>Merci pour votre inscription en ligne pour les Rencontres d’hiver 2016/17.</p>

<p>Nous accusons réception de votre réservation. Veuillez noter que cet e-mail <strong>n'est pas</strong> une confirmation de votre inscription.</p>

<p><strong> L'équipe des réservations ne sera en mesure de traiter les réservations et courriel concernant les Rencontres d’Hiver qu’en octobre.</strong></p>

<p>Dès octobre, l'équipe des réservations prendra contact avec vous dans les 7 jours après réception du formulaire d'inscription complété. En cas de questions spécifiques au sujet du financement ou de demande de visa, l'équipe des réservations pourrait nécessiter plus de temps pour traiter tous les documents nécessaires. Votre séjour et votre participation ne seront confirmés que lorsque vous recevrez une lettre de confirmation de l'équipe des réservations.</p>

<p>Meilleures salutations<br/>
L'équipe des réservations</p>
</body>
</html>
