<!DOCTYPE html>
<html>
<head>
<meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>

<p>Vielen Dank für Ihre online Anmeldung für das Caux Forum 2017.</p>

<p>Wir bestätigen hiermit Ihre Anmeldung erhalten zu haben und werden diese in kürze bearbeiten. Diese E-Mail ist keine Bestätigung Ihrer Anmeldung. Das Reservations Team wird sich binnen 7 Tagen nach erhalt der vollständigen Anmeldung bei Ihnen melden.</p>

<p>Sollten Sie ein Visa für die Einreise benötigen, einen Sondertarif beantragen oder einen Sponsor für Ihren Aufenthalt haben, senden Sie uns bitte das entsprechende Formular welches im Anmeldeformular erwähnt wurde and reservation(at)caux.ch. Das Reservations Team benötigt unter umständen mehr Zeit Ihre Anmeldung zu bearbeiten, sollte ein solches Formular verspätet zugesendet werden oder weitere Abklärungen erfordert. Sie finden die erwähnten Dokumente hier: <a href="http://www.caux.ch/de/anmelden">http://www.caux.ch/de/anmelden</a>.</p>

<p>Ihr Aufenthalt und Ihre Teilnahme ist erst mit erhalten des <strong>Bestätigungsschreibens</strong> durch das Reservations Team bestätigt.</p>

<p>Freundliche Grüsse,<br/>
Caux Forum Reservations Team</p>
</body>
</html>
