<!DOCTYPE html>
<html>
<head>
<meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>

<p>Thank you very much for your online registration for the Caux Forum 2018.</p>

<p>We herewith confirm that we have received your reservation and we will
process it soon. Please note that this e-mail is <strong>not</strong> a
confirmation of your registration.  The Reservations Team will get in contact
with you within 7 days of receiving the completed registration form.</p>

<p>Your stay and participation is only confirmed once you've received a
<strong>Letter of Confirmation</strong> from the Reservations Team.</p>

<p>Kind regards,<br/>
Caux Forum Reservations Team</p>
</body>
</html>
