<!DOCTYPE html>
<html>
<head>
<meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>

<p>Thank you very much for your online registration for the Caux Forum 2017.</p>

<p>We herewith confirm that we have received your reservation and we will process it soon. Please note that this e-mail is <strong>not</strong> a confirmation of your registration.
The Reservations Team will get in contact with you within 7 days of receiving the completed registration form.</p>

<p>If you require a visa, request a special rate or have a financial sponsor for your stay, please send the specific document as mentioned during the registration process to reservation(at)caux.ch. The Reservations Team may require more time if the document was not sent in time or needs further research. Please find all the necessary documents here: <a href="http://www.caux.ch/register">http://www.caux.ch/register</a>.</p>

<p>Your stay and participation is only confirmed once you've received a <strong>Letter of Confirmation</strong> from the Reservations Team.</p>

<p>Kind regards,<br/>
Caux Forum Reservations Team</p>
</body>
</html>
