<!DOCTYPE html>
<html>
<head>
<meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>

<p>Nous vous remercions beaucoup pour votre inscription en ligne au Caux Forum 2018.</p>

<p>Nous confirmons la réception de votre réservation que nous traiterons dans
les meilleurs délais. Veuillez, s'il vous plaît, noter que cet e-mail n'est
<strong>pas</strong> une confirmation de votre inscription. L'équipe des
réservations vous contactera dans les 7 jours après la réception du formulaire
d'inscription dûment rempli.</p>
 
<p>Votre séjour et votre participation ne seront confirmés que lorsque vous
aurez reçu une <strong>lettre de confirmation</strong> de l'équipe des
réservations.</p>

<p>Meilleures salutations,<br/>
L'équipe des réservations du Caux Forum</p>

</body>
</html>
