<!DOCTYPE html>
<html>
<head>
<meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>

<p>Vielen Dank für Ihre online Registrierung für die Winterbegegnung 2016/17.</p>

<p>Wir bestätigen hiermit Ihre Reservation erhalten zu haben. Bitte beachten Sie, dass besagte E-Mail noch <strong>keine</strong> Bestätigung Ihrer Anmeldung darstellt.</p>

<p><strong>Das Reservationsteam wird mit der Bearbeitung der Anmeldungen und Emails erst im Oktober beginnen und sich dann sofort bei Ihnen melden.</strong></p>

<p>Ab Oktober wird sich das Reservationsteam binnen 7 Tagen nach Erhalt der ausgefüllten Anmeldung mit Ihnen in Verbindung setzen. Bei besonderen finanziellen Gegebenheiten oder Visumsproblemen kann die Bearbeitung der nötigen Unterlagen durch das Reservationsteam länger dauern. Ihr Aufenthalt und Ihre Teilnahme sind erst dann bestätigt, wenn Sie vom Reservationsteam ein Bestätigungsschreiben erhalten haben.</p>

<p>Freundliche Grüsse<br/>
Das Reservationsteam</p>
</body>

</html>
