          <table>
          <tbody>
          <tr>
            <td><a href="<%=t :newsletter_url %>" target="_blank"><img height="87" width="85" alt="" src="/assets/newsletter-icon.jpg" /></a></td>
            <td><a href="http://www.facebook.com/CAUX.IofC" target="_blank"><img height="87" width="87" alt="" src="/assets/facebook_logo.png" /></a></td>
            <td><a href="http://twitter.com/CAUXIofC" target="_blank"><img height="87" width="87" alt="" src="/assets/twitter_logo.png" /></a></td>
            <td><a href="http://www.youtube.com/user/CAUXIofC" target="_blank"><img height="87" width="87" alt="" src="/assets/youtube_logo.png" /></a></td>
            <td><a href="http://www.flickr.com/photos/caux-iofc" target="_blank"><img width="87" height="87" alt="" src="/assets/flickr_logo.png" /></a></td>
          </tr>
          </tbody>
          </table>

