          <table>
          <tbody>
          <tr>
            <td><a href="<%=t :newsletter_url %>"><img height="87" width="85" class="image image-_original " alt="" src="/assets/newsletter-icon.jpg" /></a></td>
            <td><a href="http://www.facebook.com/CAUX.IofC" target="_blank"><img height="87" width="87" class="image image-_original " alt="" src="/assets/facebook_logo.png" /></a></td>
            <td><a href="http://twitter.com/CAUXIofC" target="_blank"><img height="87" width="87" alt="" src="/assets/twitter_logo.jpg" class="image image-_original" /></a></td>
            <td><a href="http://www.youtube.com/user/CAUXIofC" target="_blank"><img height="87" width="87" class="image<br />
                      image-_original " alt="" src="/assets/youtube_logo.png" /></a></td>
            <td><a target="_blank" href="http://www.flickr.com/photos/caux-iofc"><img width="87" height="87" src="/assets/flickr_logo.png" alt="" class="image<br />
                      image-_original " /></a></td>
          </tr>
          </tbody>
          </table>

