
<div class="row">
  <div class="col-md-12 text-center">
    <h1><%= t(:cookies_disabled_title) %></h1>
  </div>
</div>

<div class="well">
  <div class="row">
    <div class="center-block" style="width:600px">
      <%=t :cookies_disabled %>
    </div>
  </div>

  <div class="row">
    <div class="center-block" style="width:600px">
      <%=t :follow_us_on %>
      <%= render 'home/social' %>
    </div>
  </div>
</div>

