
<table class="tablerow">
<tr>
  <td class="pagetitle">
    <h1><%=t :form_unavailable_title %></h1>
  </td>
</tr>
</tr>
<tr>
   <td class="af_center">
    <%= error_messages_for :online_application, :header_message => 'Error:', :message => nil %>
   </td>
</tr>
<tr>
  <td class="af_justify">
<%=t :form_unavailable_html %>
  </td>
</tr>
</table>
