
<table class="tablerow">
<tr>
  <td class="pagetitle">
    <h1><%=t :form_unavailable_title %></h1>
  </td>
</tr>
</tr>
<tr>
   <td class="af_center">
    <%= error_messages_for :online_application, :header_message => 'Error:', :message => nil %>
   </td>
</tr>
<tr>
  <td class="af_justify">
<%=t :form_unavailable_html %>
  <br/>
  <a href="<%=t :newsletter_url %>"><img height="29" width="29" class="image image-_original " alt="" src="/assets/newsletter-icon.jpg" /></a>
  <a href="http://www.facebook.com/CAUX.IofC" target="_blank"><img height="29" width="29" class="image image-_original " alt="" src="http://www.iofc.org/sites/all/files/images/logo-facebook.jpg" /></a>
  <a href="http://twitter.com/CAUXIofC" target="_blank"><img alt="" src="http://www.iofc.org/sites/all/files/images/twitter_logo.jpg" class="image image-_original" /></a>

  </td>
</tr>
</table>
