
<div class="row">
  <div class="col-md-12">

<p>
Costs for your stay in Caux:<br/>
CHF 165.- per Person per Night<br/>
CHF 50.- Registration fee<br/>
</p>
<p>
Please note that this reservation &amp; price is only for your accommodation and meals. The organizers require a separate registration for the Training where additional costs may be charged. Please register here first: <strong><a href="https://www.eventbrite.co.uk/e/real-change-with-iofc-accessing-the-power-of-presence-in-action-tickets-31374197068"><font color="#000000">https://www.eventbrite.co.uk/e/real-change-with-iofc-accessing-the-power-of-presence-in-action-tickets-31374197068</font></a></strong>.
</p>
  </div>
</div>
