@import "bootstrap-sprockets"
@import "bootstrap"

/* forms */
.field_with_errors
  @extend .has-error
  .form-control
    border: 3px solid #ff0000
    color: #ff0000

/* make date_select do the right thing */
select.form-control
  display: inline-block
  width: auto

.field_with_errors .control-label
  color: #333333

.form-group.required .control-label:before
  color: red
  content: "*"
  position: absolute
  margin-left: -14px
  font-family: 'Glyphicons Halflings'
  font-weight: normal
  font-size: 14px

.spacer
  margin-bottom: 40px /* define margin as you see fit */
  margin-top: 20px /* define margin as you see fit */
